/* -- General Page Properties -- */

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden; /* Only show scrolling in containing DIVS */
}

body {
	font-family: Arial, Verdana, Helvetica;
	font-size: 14px;
	color: #000;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 14px;
	color: #000;
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

img {
	border: none;
}

a {
	outline: none;
}

a, a:visited {
	color: #0b59d9;
	text-decoration: underline;
}

a:active, a:hover {
	color: #4c8df6;
	text-decoration: underline;
}

/* -- Shortcut classes -- */

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.m-left {
	margin-left: 10px;
	float: left;
}

.m-right {
	margin-right: 10px;
	float: right;
}

.link-cursor {
	cursor: pointer !important;
}

.hidden {
	display: none;
	visibility: hidden;
}

p.longtext {
	line-height: 150%;
	margin-bottom: 15px;
}

.longtext-preview {
	color: #7f7f7f;
}

.label {
	font-weight: bold;
	line-height: 170%;
}

.labelled-data {
	margin-left: 5px;
	line-height: 170%;
}

/* -- Header -- */

#header {
	background: url(../images/header-bg.gif) repeat-x top left;
	height: 109px;
	min-width: 900px;
	overflow: hidden;
}

/* -- Application Title (wrapped by #header) -- */

h1 {
	background: url(../images/header-logo.jpg) no-repeat top left;
	width: 462px;
	height: 109px;
	float: left;
}

h1 a {
	display: block;
	width: 462px;
	height: 109px;
}

h1 span {
	display: none;
}

#header #appLogo {
	float: right;
	padding: 0 10px 0 0;
	line-height: 109px;
}

/* -- My Menu ("My account", "Logout", etc...) -- */

#my-menu {
	float: right;
	color: #738181;
	padding: 29px 17px 0px 29px;
}

#my-menu ul {
	padding-top: 10px;
}

#my-menu li {
	float: left;
	padding-right: 10px;
}

/* -- Messages -- */

.messages {
}

.message-row {
	color: #000;
	padding: 14px 9px;
	background-color: #f4e753;
	border-top: 1px solid #faf3a9;
	border-bottom: 1px solid #ded34f;
}

.message-row h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 3px 0px;
	padding: 0px;
}

div.message-ok {
}

div.message-ko {
}

/* -- Left pane; Source pane -- */

/* vertical menu settings */

#idSourcePane.vertical {
	float: left;
	width: 225px;
}

/* horizontal menu settings */

#idSourcePane.horizontal li {
	float: left;
}

#idSourcePane.horizontal li > ul > li {
	clear: both;
	float: none;
}

#idSourcePane.horizontal li > ul {
	display: none;
	position: absolute;
}

#idContentPane.horizontal {
	margin-left: 0;
}

/* default menu settings */
.source-pane {
	background: url(../images/source-pane-bg.gif) repeat-y top right #e2e7e4;
	
	/* Position relatively. This will help the .menu-sticky-bottom class in
	   aligning properly to the bottom of its parent */
	position: relative;
}

.source-pane.horizontal {
	position: static !important;
}

.source-pane-viewport {
	padding-right: 2px;
	
	/* The contents in the Content Pane are placed in a viewport. This helps us
	   in making it scrollable */
	overflow: auto;
}

.source-pane ul.horizontal li {
	float: left;;
}
.source-pane ul {
}

.source-pane li {
}

.source-pane li a {
	border-top: 1px solid #e3e8e4;
	border-bottom: 1px solid #bec6c1;
	background-color: #d0d8d2;
	color: #32352e;
	font-size: 14px;
	padding: 14px 9px;
	display: block;
}

.source-pane li a, .source-pane li a:visited {
	text-decoration: none;
}

.source-pane li a:active, .source-pane li a:hover {
	background-color: #d5ddd7;
	color: #000;
	text-decoration: none;
}

/* -- Selected item in the left pane -- */

.source-pane li.active > a, .source-pane li.active > a:visited, .source-pane li.active > a:active, .source-pane li.active > a:hover {
	border-top: 1px solid #aeda85;
	border-bottom: 1px solid #4f7f29;
	background: url(../images/source-pane-button-active-bg.gif) repeat-x center left;
	color: #fff;
	text-decoration: none;
}

/* -- Menu titles in left pane -- */

.source-pane h2 {
	background: url(../images/source-pane-title-arrow.gif) no-repeat 9px 35px;
	color: #2d3129;
	font-weight: bold;
	padding: 30px 10px 12px 30px;
	text-transform: uppercase;
}

.source-pane h2.folded {
	background: url(../images/source-pane-title-arrow-folded.gif) no-repeat 13px 33px !important;
}

/* -- Sticky Bottom (sticks to the bottom of the container; typically used for
      option buttons such as the Plus Button) -- */

.menu-sticky-bottom {
	height: 31px;
	background-color: #dae0db;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.source-pane .menu-sticky-bottom {
	width: 223px;
}

.admin-list-option {
	line-height: 31px;
	float: left;
}

.admin-list-option a {
	margin-left: 20px;
}

/* -- Content (main pane) -- */

.content-pane {
	background: url(../images/content-pane-bg.gif) repeat-x top right #fff;
	margin-left: 225px;
	
	/* Position relatively. This will help the .menu-sticky-bottom class in aligning
	   properly to the bottom of its parent */
	position: relative;
}

.content-pane-viewport {
	/* The contents in the Content Pane are placed in a viewport. This helps us
	   in making it scrollable */
	overflow: auto;
	overflow-x: hidden;
	min-width: 600px;
}

/* -- Titles -- */

/* -- Big title (grey) -- */

h2.big {
	font-size: 30px;
	font-weight: bold;
	color: #bbbbbb;
	padding: 0px 0px 10px 0px;
}

/* -- Intro texts (accompany titles) -- */

p.with-h2-big {
	margin-top: -7px;
}

/* -- Links with arrow -- */

a.arrow {
	padding-right: 15px;
}

a.arrow, a.arrow:visited {
	background: url(../images/link-arrow.gif) no-repeat 100% 3px;
}

a.arrow:active, a.arrow:hover {
	background-position: 100% -97px;
}

/* -- Buttons -- */

/* -- Button to open dropdown menu -- */

a.arrow-down {
	background: url(../images/a-arrow-down.gif) no-repeat top right;
	padding-right: 14px;
}

a.arrow-down, a.arrow-down:visited {
	background-position: 100% 2px;
}

a.arrow-down:active, a.arrow-down:hover {
	background-position: 100% -48px;
}

/* -- Close Button in Message Row -- */

a.message-close {
	background: url(../images/message-close.png) no-repeat top left;
	display: block;
	width: 17px;
	height: 18px;
	text-indent: -40000px;
	float: right;
}

a.edit, a.edit:visited {
}

a.edit:active, a.edit:hover {
}

/* -- Toggle Button -- */

a.toggle-1 {
	background: url(../images/toggle-1.png) no-repeat top left;
	width: 23px;
	height: 24px;
	display: block;
	text-indent: -20000px;
}

a.toggle-0 {
	background: url(../images/toggle-0.png) no-repeat top left;
	width: 23px;
	height: 24px;
	display: block;
	text-indent: -20000px;
}

/* -- Locale Button -- */

a.locale-1 {
	background: url(../images/locale-1.png) no-repeat top left;
	width: 28px;
	height: 24px;
	display: block;
	text-indent: -20000px;
}

a.locale-0 {
	background: url(../images/locale-0.png) no-repeat top left;
	width: 28px;
	height: 24px;
	display: block;
	text-indent: -20000px;
}

a.locale {
	background: url(../images/locale-1.png) no-repeat top left;
	width: 28px;
	height: 24px;
	display: block;
	color: #000 !important;
	text-align: center;
	text-decoration: none;
}
a.locale:hover{
	background: url(../images/delete.png) no-repeat top left;
	color: transparent !important;
}

/* -- Edit Button -- */

a.edit {
	background: url(../images/edit.png) no-repeat top left;
	display: block;
	width: 23px;
	height: 23px;
	text-indent: -40000px;
}

a.edit, a.edit:visited {
}

a.edit:active, a.edit:hover {
}

/* -- Delete Button -- */

a.delete {
	background: url(../images/delete.png) no-repeat top left;
	display: block;
	width: 23px;
	height: 23px;
	text-indent: -40000px;
}

div.delete_disabled {
	background: url(../images/delete_disabled.png) no-repeat top left;
	width: 23px;
	height: 23px;
	text-indent: -40000px;
}

a.delete, a.delete:visited {
}

a.delete:active, a.delete:hover {
}

/* -- Clear Button -- */

a.clearvalue {
	background: url(../images/clear.png) no-repeat top left;
	display: block;
	width: 23px;
	height: 23px;
	text-indent: -40000px;
}

a.clearvalue, a.clearvalue:visited {
}

a.clearvalue:active, a.clearvalue:hover {
}

/* -- Zoom Button -- */

a.zoom {
	background: url(../images/zoom.png) no-repeat top left;
	display: block;
	width: 23px;
	height: 23px;
	text-indent: -40000px;
}

a.zoom, a.zoom:visited {
}

a.zoom:active, a.zoom:hover {
}

/* -- Print Button -- */

a.print {
	background: url(../images/print.png) no-repeat top left;
	display: block;
	width: 23px;
	height: 23px;
	text-indent: -40000px;
}

a.print, a.print:visited {
}

a.print:active, a.print:hover {
}

/* -- Regular button -- */

.button {
	background: url(../images/button-left.gif) no-repeat top left;
	line-height: 31px;
	display: block;
	outline: none;
	padding-left: 16px;
	float: left;
}

.button, a.button:visited {
	color: #202020;
	text-decoration: none;
}

.button:active, a.button:hover {
	color: #000000;
	text-decoration: none;
}

.button span {
	background: url(../images/button-right.gif) no-repeat top right;
	display: block;
	text-align: center;
	padding-left: 5px;
	padding-right: 22px;
	font-size: 15px;
}

.button:active {
	background-position: 0px -32px;
}

.button:active span {
	background-position: 100% -32px;
}

/* -- Header button -- */

a.button-header {
	background: url(../images/button-header-left.png) no-repeat top left;
	line-height: 32px;
	display: block;
	outline: none;
	padding-left: 16px;
}

a.button-header, a.button-header:visited {
	color: #000;
	text-decoration: none;
}

a.button-header:active, a.button-header:hover {
	color: #000;
	text-decoration: none;
}

a.button-header span {
	background: url(../images/button-header-right.png) no-repeat top right;
	display: block;
	text-align: center;
	padding-left: 6px;
	padding-right: 22px;
	font-size: 15px;
}

a.button-header:active {
	background-position: 0px -32px;
}

a.button-header:active span {
	background-position: 100% -32px;
}

/* -- Submit (green) button -- */

.button-submit {
	background: url(../images/button-submit-left.png) no-repeat top left;
	line-height: 32px;
	display: block;
	outline: none;
	padding-left: 16px;
}

.button-submit, .button-submit:visited {
	color: #ffffff;
	text-decoration: none;
}

.button-submit:active, .button-submit:hover {
	color: #ffffff;
	text-decoration: none;
}

.button-submit span {
	background: url(../images/button-submit-right.png) no-repeat top right;
	display: block;
	text-align: center;
	padding-left: 6px;
	padding-right: 22px;
	font-size: 15px;
}

.button-submit:active {
	background-position: 0px -32px;
}

.button-submit:active span {
	background-position: 100% -32px;
}

/* REQUIRED BUTTON STYLES: */

label.button-submit,
label.button {
	position:relative;
	*position:static; /* IE7 only*/
	display:block;
	cursor: pointer;
	float:left;
}

label.button-submit-additional, .button-additional {
	margin-left: 10px;
}

label.button-submit input,
label.button input {
	position:absolute;
	width: inherit;
	height: inherit;
	z-index: 2;
	opacity: 0;
	-moz-opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	filter:alpha(opacity: 0);
	outline:none;
	cursor: pointer;
	border:1px solid #000;
}

/* -- Logout button -- */

a.button-logout {
	background: url(../images/button-logout-left.png) no-repeat top left;
	line-height: 32px;
	display: block;
	outline: none;
	padding-left: 29px;
}

a.button-logout, a.button-logout:visited {
	color: #fff;
	text-decoration: none;
}

a.button-logout:active, a.button-logout:hover {
	color: #fff;
	text-decoration: none;
}

a.button-logout span {
	background: url(../images/button-logout-right.png) no-repeat top right;
	display: block;
	text-align: center;
	padding-left: 6px;
	padding-right: 22px;
	font-size: 15px;
}

a.button-logout:active {
	background-position: 0px -32px;
}

a.button-logout:active span {
	background-position: 100% -32px;
}

/* -- Plus button -- */

a.button-plus {
	background: url(../images/button-plus.gif) no-repeat top left;
	width: 34px;
	height: 31px;
	display: block;
	outline: none;
	text-indent: -20000px;
	float: left;
}

a.button-plus, a.button-plus:visited, a.button-plus:active, a.button-plus:hover {
	color: #fff;
	text-decoration: none;
}

a.button-plus:active {
	background-position: 0px -31px;
}

/* -- Sticky plus menu buttons -- */

a.button-sticky-menu {
	background: url(../images/button-sticky-menu.gif) repeat-x top left;
	height: 23px;
	display: block;
	outline: none;
	float: left;
	padding: 8px 10px 0 10px;
	border-right: 1px solid #becac3;
}

a.button-sticky-menu, a.button-sticky-menu:visited, a.button-sticky-menu:active, a.button-sticky-menu:hover {
	color: #30352d;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}

a.button-sticky-menu:active,
a.button-sticky-menu.pressed {
	color: #FFF;
	background-position: 0px -31px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #333;
}

/* -- Previous / Next buttons -- */

a.button-sticky-prev {
	background: url(../images/button-arrow-left.gif) repeat-x top left;
}

a.button-sticky-next {
	background: url(../images/button-arrow-right.gif) repeat-x top left;
}

a.button-sticky-prev,
a.button-sticky-next {
	height: 23px;
	width: 14px;
	display: block;
	outline: none;
	float: left;
	padding: 8px 10px 0 10px;
	text-indent: -40000px;
}

a.button-sticky-prev, a.button-sticky-prev:visited, a.button-sticky-prev:active, a.button-sticky-prev:hover,
a.button-sticky-next, a.button-sticky-next:visited, a.button-sticky-next:active, a.button-sticky-next:hover {
	color: #30352d;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}

a.button-sticky-prev:active,
a.button-sticky-next:active {
	color: #FFF;
	background-position: 0px -31px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #333;
}

/* -- Loading indicator -- */

.loading {
	width: 50px;
	height: 50px;
	background: url(../images/loading.gif) no-repeat center center;
	text-indent: -20000px;
	margin: 0px auto;
	height: 100%;
}

/* -- Number tags -- */

span.inline-number-tag {
}

/* -- Any content that needs to have padding relative to the containing frame, 
      is wrapped by the .padding-from-frame class -- */

.padding-from-frame {
	padding: 20px;
}

/* -- Breadcrumb/Path interface -- */

.breadcrumb {
	background-color: #eaeded;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d5d9d9;
	height: 44px;
}

.breadcrumb ul li {
	float: left;
}

.breadcrumb ul li a {
	display: block;
}

.breadcrumb ul li a span {
	margin-left: -18px;
}

.breadcrumb ul li span, .breadcrumb ul li a {
	padding: 0px 18px 0px 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 44px;
	height: 44px;
}

.breadcrumb ul li a {
	background: url(../images/breadcrumb-item-link-bg.gif) no-repeat center right;
}

.breadcrumb ul li.previous a {
	background: url(../images/breadcrumb-item-link-previous-bg.gif) no-repeat center right;
}

.breadcrumb ul li.next {
	color: #999;
}


/* -- Password Strength Indicator -- */

.password-strength {
	margin-top: 5px;
	background: url(../images/password-strength.gif) no-repeat 0px 500px;
	padding: 0px 0px 2px 112px;
	color: #9fa69f;
	font-size: 11px;
}

.password-strength-100 { background-position: 0px 2px; }
.password-strength-95  { background-position: 0px -18px; }
.password-strength-90  { background-position: 0px -38px; }
.password-strength-85  { background-position: 0px -58px; }
.password-strength-80  { background-position: 0px -78px; }
.password-strength-75  { background-position: 0px -98px; }
.password-strength-70  { background-position: 0px -118px; }
.password-strength-65  { background-position: 0px -138px; }
.password-strength-60  { background-position: 0px -158px; }
.password-strength-55  { background-position: 0px -178px; }
.password-strength-50  { background-position: 0px -198px; }
.password-strength-45  { background-position: 0px -218px; }
.password-strength-40  { background-position: 0px -238px; }
.password-strength-35  { background-position: 0px -258px; }
.password-strength-30  { background-position: 0px -278px; }
.password-strength-25  { background-position: 0px -298px; }
.password-strength-20  { background-position: 0px -318px; }
.password-strength-15  { background-position: 0px -338px; }
.password-strength-10  { background-position: 0px -358px; }
.password-strength-5   { background-position: 0px -378px; }
.password-strength-0   { background-position: 0px -378px; }


/* -- Some "magic" classes, for interaction with jQuery M Interface Plugins -- */

.fill-remaining-vspace {
}

/* -- Small notes -- */

.small {
	font-size: 12px;
}

.note {
	color: #aaa;
}

.note-below-viewport {
	height: 31px;
}
