
/* -- IE6 PNG fix -- */

a.delete, a.edit, a.toggle-0, a.toggle-1, a.locale-0, a.locale-1, a.zoom {
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
}

a.delete, a.edit, a.toggle-0, a.toggle-1, a.locale-0, a.locale-1, a.zoom {
	cursor: pointer;
}

/* -- Specific image replacements for buttons -- */

/* -- Logout button -- */

a.button-logout {
	background: url(../images/button-logout-left-ie6.gif) no-repeat top left;
}

a.button-logout span {
	background: url(../images/button-logout-right-ie6.gif) no-repeat top right;
}

/* -- Header button -- */

a.button-header {
	background: url(../images/button-header-left-ie6.gif) no-repeat top left;
}

a.button-header span {
	background: url(../images/button-header-right-ie6.gif) no-repeat top right;
}

/* -- Draggable icon replacement -- */

.draggable-sorting-list table tr.row1 {
	background: url(../images/drag-ie6.gif) no-repeat center left #eff2f2 !important;
}

.draggable-sorting-list table tr.row2 {
	background: url(../images/drag-ie6.gif) no-repeat center left #e4eaea !important;
}

.draggable-sorting-list table tr.hover {
	background: url(../images/drag-ie6.gif) no-repeat center left #343634 !important;
}

/* -- Tooltip image replacements -- */

.row-options-tooltip {
	background: url(../images/row-options-bg-ie6.gif) no-repeat top left;
}

.row-options-tooltip a.edit {
	background: url(../images/row-options-edit-ie6.gif) no-repeat top left;
}

.row-options-tooltip a.delete {
	background: url(../images/row-options-delete-ie6.gif) no-repeat top left;
}

/* -- Popmenu image replacements (no .png) -- */

.jquery-m-popmenu-wrapper-1 {
	background: url(../images/m-popmenu-tl-ie6.gif) no-repeat top left;
}

.jquery-m-popmenu-wrapper-2 {
	background: url(../images/m-popmenu-tr-ie6.gif) no-repeat top right;
}

.jquery-m-popmenu-wrapper-3 {
	background: url(../images/m-popmenu-bl-ie6.gif) no-repeat bottom left;
}

.jquery-m-popmenu-wrapper-4 {
	background: url(../images/m-popmenu-br-ie6.gif) no-repeat bottom right;
}

/* -- Popmenu width fix -- */

.jquery-m-popmenu-wrapper-1 {
	width: 350px;
}