#filtermenu {
	padding:3px 5px;
	width:160px;
	float:left;
	height:16px;
}

#filtermenu-wrapper {
	width:203px;
	padding:9px;
	border-bottom:1px solid #D5D9D9;
	height:27px;
	overflow:hidden;
}

#filtermenu.hint {
	color:#BBBBBB;
}

#filtermenu-clear {
	float:left;
	display:block;
	width:19px;
	height:19px;
	background:url(../images/clear.png) no-repeat;
	text-indent:-4000px;
	margin-left:3px;
	margin-top:5px;
}