
/* -- Locale menu in form -- */

.form-locale-menu {
	padding: 20px 15px;
	border-bottom: 1px solid #eeebeb;
	background-color: #f0f0f0;
}

.field-reference-value {
	padding: 20px 15px;
	color: #999999;
	background: url(../images/field-reference-value-bg.gif) no-repeat 20px 0px #f9f9f9;
	border-bottom: 1px solid #eeebeb;
}

/* -- Field decorators -- */

.field-row {
	padding: 20px 15px;
	border-bottom: 1px solid #eeebeb;
	white-space: nowrap;
}

.field-row label {
	float: left;
	width: 130px;
	white-space: normal !important;
}

.field-container {
	padding-left: 130px;
}

.field-row-buttons {
	padding: 20px 15px 20px 145px;
}

.error-message {
	padding: 5px 10px 15px 10px;
	background: url(../images/field-error-bg.gif) no-repeat bottom left;
}

/* -- Address field -- */
.address-container {
	clear: both;
}

.field-address-container {
	float: left;
	padding: 0px 10px 10px 0;
}

.field-address-container .field-buttons {
	padding-top: 0.5em;
}

.field-address-container a {
	padding-right: 0.5em;
}

/* -- Field group decorators -- */
.group-row {
	border: 0;
	padding: 0;
	margin: 0;
}

/* -- Foldable Field groups -- */
fieldset .group-title {
	color: #2d3129;
	font-weight: bold;
	padding: 30px 10px 12px 10px;
	text-transform: uppercase;
}

fieldset .group-description {
	color: #ccc;
	margin: -20px 0 0 30px;
}

fieldset.foldable .group-title {
	background: url(../images/source-pane-title-arrow.gif) no-repeat 9px 35px;
	padding-left: 30px;
	display: block;
	cursor: pointer;
}

fieldset.foldable .group-title.folded {
	background: url(../images/source-pane-title-arrow-folded.gif) no-repeat 13px 33px !important;
}

/* -- Align checkboxes with their labels -- */

input, label.checkbox, label.radio {
	float: none;
	vertical-align: middle;
}

/* -- Text fields -- */

.field-text, 
.field-password,
.hasDatepicker
{
	background: url(../images/field-bg.png) repeat-x top center #ffffff;
	padding: 6px 3px;
	border-top: 1px solid #646464;
	border-right: 1px solid #8c8c8c;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #8c8c8c;
	color: #444444;
	font-family: Arial;
	font-size: 13px;
}

.field-text[readonly] {
	background-color: #f2f2f2;
}

.field-row .hint {
	color: #999;
}

.charcounter {
	clear: both;
	color: #999;
	font-size: 12px;
}

/* -- Default value -- */
.with-default-value {
	color: #ccc;	
}

.field-numeric, .field-currency, .field-percent {
	text-align: right;
}

/* -- Styles that are being overwritten in a field row -- */

/* -- Small notes -- */

.small, .note {
	padding-top: 6px;
	clear: both;
}

.note {
	white-space: normal;
	line-height: 1.5em;
}

/* -- Autocomplete -- */

input.ac_loading {
	background: white url('../images/loading.gif') right center no-repeat;
}

.ac_results .ac_odd {
	background-color: #eee;
}

.ac_results .ac_over {
	background-color: #4C8DF6;
	color: white;
}
/* -- Sortables -- */
ol.sortable, ol.draggable {
	margin: 0;
	padding: 0;
}
ol.sortable li, ol.draggable li {
	background: #ccc url(../images/drag.png) no-repeat 3px center;
	width: 200px;
	margin-bottom: 1px;
	padding: 5px 5px 5px 25px;
	clear: both;
	overflow: hidden;
}

ol.sortable div, ol.draggable div {
	float: left;
	line-height: 23px;
	margin-right: 30px;
	white-space: normal;
}

ol.sortable a.delete {
	background: url(../images/clear.png) no-repeat right;
	display: block;
	float: right;
}

.sortable-container, .draggable-container {
	float: left;
	display: block;
	border: 1px solid white;
	background-color: #f1f1f1;
	padding: 10px;
}

.sortable-connected, .draggable-connected {
	width: 250px;
}

.sortable-deletable li div {
	width: 160px;
	margin-right: 0;
}

.sortable-container label, .draggable-container label {
	margin-bottom: 10px;
}

.sortable-container .field-description, .draggable-container .field-description {
	margin-top: 10px;
	white-space: normal;
}

.field-group-checkboxes {
	padding-left:15px;
}

.field-matrix tbody tr {
	vertical-align: bottom;
}

.field-matrix-cell-error {
	border: 1px solid #ffffff;
	background-color: #f6dede;
}

.field-matrix-cell-error input {
	border: 1px solid #cc0000;
}

/* Datetime field */
.field-datetime-container {
	float:left;
}

.field-datetime-container-time {
	padding-top: 6px;
}

/* Time field */

.field-time-container {
	float: left;
	line-height:30px;
	padding: 0 2px;
}