
/* -- This CSS File contains the styles that are applied to the start page  -- */

/* -- Page wrapper -- */

#home-wrapper {
	width: 532px;
	margin: 0px auto;
	padding-top: 60px;
}

/* -- Edit Account Button -- */

#home-account {
	background: url(../images/home-button-account.jpg) no-repeat top left;
	width: 532px;
	height: 122px;
	margin-bottom: 20px;
}

#home-about {
	background: url(../images/home-button-about.jpg) no-repeat top left;
	width: 532px;
	height: 133px;
}

#home-wrapper h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 150%;
	padding: 22px 10px 2px 165px;
}

#home-wrapper .description {
	line-height: 150%;
	padding: 0px 10px 10px 165px;
}