
/* -- This CSS File contains the styles that are applied to lists  -- */

/* -- Filter interface -- */

a.filter-start {
	display: block;
	padding-left: 35px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d4d9d9;
	background: url(../images/filter-start.gif) no-repeat 10px 13px #e9eded;
	line-height: 44px;
	color: #737f83;
	min-width: 600px;
	overflow: hidden;
}

.filter {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d4d9d9;
	background-color: #e9eded;
	height: 50px;
	padding: 0px 10px;
	min-width: 600px;
	overflow: hidden;
}

.filter .step-0, .filter .step-1, .filter .step-2 {
	float: left;
	padding-top: 12px;
	margin-right: 10px;
}

.filter input, .filter select {
}

.filter span { /* text in a filter bar */
}

.filter a.add {
	background: url(../images/filter-add.gif) no-repeat center left;
	width: 23px;
	height: 44px;
	display: block;
	text-indent: -20000px;
}

.filter a.remove {
	background: url(../images/filter-remove.gif) no-repeat center left;
	width: 23px;
	height: 44px;
	display: block;
	text-indent: -20000px;
	margin-left: 10px;
}

.filter .loading {
	background: url(../images/loading.gif) no-repeat center right;
	width: 24px;
	height: 16px;
	display: block;
	float: left;
}

/* -- List table -- */

.list {
	background-color: #eff2f2;
}

.list table {
	width: 100%;
	border-collapse: collapse;
}

.list table thead {
}

.list table th {
	border-top: 1px solid #e3e8e4;
	border-bottom: 1px solid #babdbd;
	background-color: #cccece;
	color: #555555;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 7px 12px 7px;
	text-align: left;
	white-space: nowrap;
}

.list table th.locale {
	background: url(../images/locale-th.gif) no-repeat 50% 65% #cccece;
	text-align: center !important;
	font-size: 12px;
	font-weight: normal;
}

.list table tbody {
	overflow: auto;
}

.list table tr.row1 {
	background-color: #eff2f2;
}

.list table tr.row2 {
	background-color: #e4eaea;
}

.list table td {
	font-size: 14px;
	padding: 11px 7px 12px 7px;
	vertical-align: top;
}

/* Bug fix; to maintain position and size when hovered
   We do not use "border: 1px solid transparent", because IE is too stupid for that
 */
.list table tr.row1 td {
	border: 1px solid #eff2f2;
}

.list table tr.row2 td {
	border: 1px solid #e4eaea;
}

.list table tr.selected td {
	border: 1px solid #343634;
}

/* /Bug fix */

.list table tr.row1 td {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dadddd;
}

.list table tr.row2 td {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d0d6d6;
}

/* -- Selected rows in the list table -- */

.list table tr.selected {
	background-color: #343634;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d0d6d6;
	color: #fff;
}

.list table tr.hover a {
	color: #fff !important;
}

.list table tr.hover .longtext-preview {
	color: #e6ebe6 !important;
}

/* -- Vertical tooltip styles -- */
#idContentPane.vertical .list table th.tooltip {
	display: none;
}

/* -- Horizontal tooltip styles -- */
#idContentPane.horizontal .list table td.tooltip {
	width: 100px;
	white-space: nowrap;
}

#idContentPane.horizontal .list table td.tooltip li {
	float: left;
}

/* -- Draggable sorting -- */

table tr .draggable {
	padding-left: 15px;
}

table tr.row1 td.draggable {
	background: url(../images/drag.png) no-repeat center left #eff2f2;
}

table tr.row2 td.draggable {
	background: url(../images/drag.png) no-repeat center left #e4eaea;
}

table tr.hover td.draggable {
	background: url(../images/drag.png) no-repeat center left #343634;
}

/* -- Row Options cell -- */

.row-options-tooltip {
	background: url(../images/row-options-bg.png) no-repeat top left;
	height: 41px;
	color: #fff;
}

.row-options-tooltip a {
	color: #fff;
}

.row-options-tooltip ul {
	padding: 10px;
}

.row-options-tooltip ul li {
	float: left;
}

.row-options-tooltip a.delete {
	float: left;
	background: url(../images/row-options-delete.png) no-repeat top left;
	width: 24px;
	height: 18px;
	text-indent: -40000px;
}

.row-options-tooltip a.edit {
	float: left;
	background: url(../images/row-options-edit.png) no-repeat top left;
	width: 24px;
	height: 18px;
	text-indent: -40000px;
}

.row-options-tooltip a.print {
	float: left;
	background: url(../images/row-options-print.png) no-repeat top left;
	width: 24px;
	height: 18px;
	text-indent: -40000px;
}

.row-options-tooltip a.forward {
	float: left;
	background: url(../images/row-options-forward.png) no-repeat top left;
	width: 24px;
	height: 18px;
	text-indent: -40000px;
}

.row-options-tooltip .pdf {
	float: left;
	background: url(../images/row-options-pdf.png) no-repeat top left;
	width: 24px;
	height: 18px;
	text-indent: -40000px;
}

/* -- Live list -- */

/* -- Live list position -- */

.live-list-position {
	background: url(../images/live-list-position-bg.png) no-repeat top left;
	color: #fff;
	font-size: 35px;
	font-weight: normal;
	width: 400px;
	text-align: center;
	line-height: 55px;
}

/* -- Selectables -- */

#selectables-options {
	padding: 20px;
}

#selectables-options h2 {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 3px;
	margin: 0px;
}

#selectables-options p {
	padding: 0px 0px 15px 0px;
	margin: 0px;
}

#selectables-options a.button {
	margin-right: 10px;
}
