
/* -- This CSS File contains the styles that are applied to the pages that are 
      related to My Account  -- */

/* -- My Account Page -- */

#my-account {
	padding: 20px;
}

#my-account-picture {
	background: url(../images/my-account-picture-bg.gif) no-repeat top left;
	width: 258px;
	float: left;
}

#my-account-picture img {
	margin: 5px 4px;
	width: 250px;
	height: 250px;
}

#my-account-details {
	margin-left: 280px;
}
