body {
	font-family: Arial, Helvetica, sans-serif;
}

#header, #idSourcePane, .filters, .menu-sticky-bottom, .breadcrumb, .row-options-tooltip, .field-row-buttons  {
	display:none !important;
}

table td, table th {
	border:1px solid black;
	padding:5px;
}

table th.hidden {
	display:none;
}

table {
	margin-bottom:25px;
}

.field-row label {
	float:left;
	width:25%;
}

#container-whitelabel label {
	float:none !important;
	width:auto !important;
}

.field-row {
	padding-bottom:1em;
}

.note {
	font-size:0.8em;
	color:#AAA;
}