
/* -- This CSS File contains the styles that are applied to the pages that are 
      related to the Smart Folders  -- */

/* -- "New Smart Folder" Page -- */

#new-smart-folder-wrapper {
	background: url(../images/smart-folder-new.gif) no-repeat 0px 60px;
	width: 380px;
	margin: 0px auto;
	padding-top: 60px;
	padding-left: 155px;
}

#new-smart-folder-wrapper ul {
}

#new-smart-folder-wrapper ul li {
	font-size: 20px;
	padding-bottom: 10px;
}

#new-smart-folder-wrapper ul li ul li {
	padding-bottom: 10px;
	padding-left: 10px;
}