
/* -- This CSS is used separately, to style the "Unsupported Browser" page -- */

/* -- General Page Properties -- */

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	font-family: Arial, Verdana, Helvetica;
	font-size: 14px;
	color: #000;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 14px;
	color: #000;
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

img {
	border: none;
}

a {
	outline: none;
}

a, a:visited {
	color: #0b59d9;
	text-decoration: underline;
}

a:active, a:hover {
	color: #4c8df6;
	text-decoration: underline;
}

/* -- Wrappers -- */

#wrapper {
	width: 800px;
	margin: 0px auto;
	padding-bottom: 15px;
}

/* -- Titles -- */

h1 {
	background: url(../images/browser-unsupported.gif) no-repeat 0px 50px;
	width: 583px;
	height: 251px;
	margin: 0px auto;
}

h1 span {
	display: none;
}

/* -- Content -- */

p.text {
	line-height: 150%;
	width: 583px;
	margin: 20px auto 20px auto;
}

/* -- Browser icons -- */

#browsers ul {
	height: 210px;
}

#browsers li {
	float: left;
	width: 158px;
}

#browsers li a {
	display: block;
	padding: 150px 10px 0px 10px;
	text-align: center;
}

#browser-ie7plus {
	background: url(../images/browser-ie7plus.jpg);
}

#browser-firefox2plus {
	background: url(../images/browser-firefox.jpg);
}

#browser-safari3plus {
	background: url(../images/browser-safari.jpg);
}

#browser-chrome {
	background: url(../images/browser-chrome.jpg);
}

#browser-opera {
	background: url(../images/browser-opera.jpg);
}

