<input type="password" id="{$viewId}" name="{$field->getId()}" value="" class="field-password" style="{$field->getWidth()}px" />
{if $field->isShowingStrength()}
	<div class="password-strength"><!--  --></div>
{/if}
