
/* -- Generic Dashboard Style -- */
 
#webmaster-dashboard {
}

#webmaster-dashboard li {
	float: left;
	width: 185px;
	height: 30px;
	padding-top: 185px;
	text-align: center;
}

#webmaster-dashboard li a {
}

/* -- Buttons -- */

li#webmaster-locale-in {
	background: url(../images/locale-in.png) no-repeat top center;
}

li#webmaster-locale-out {
	background: url(../images/locale-out.png) no-repeat top center;
}