#news-list {
	padding-top: 20px;
}

h2 {
	color: #009ab0;
	text-transform: uppercase;
	: 10px;
}

h2 span {
	color: #bcdecc;
}

#news-list li {
	float: left;
	color: #fff;
	font-size: 0.7em;
	width: 222px;
	padding-bottom: 40px;
}

.column-1 {
	width: 222px;
	padding-left: 10px;
	padding-right: 109px;
	clear: both;
}

.column-2 {
	padding-right: 93px;
}

.news-description {
	padding-top: 5px;
}

.news-description div {
	border-top: 1px solid #869185;
	padding-top: 10px;
}

.image-list-item {
	padding-right: 5px;
	height: 135px;
	vertical-align: bottom;
}

.image-list-item-last {
	padding-right: 0;
}

#news-list table {
	width: 100%;
}

#pagejumper {
	padding-right: 10px;
	clear: both;
}

#pagejumper a {
	color: #009ab0;
	text-decoration: none;
	font-size: 0.8em;
	text-transform: uppercase;
	padding-left: 10px;
}

.title-row {
	height: 40px;
	vertical-align: top;
}