#portfolio-sidebar {
	width: 240px;
	float: left;
}

#portfolio-sidebar table {
	height: 480px;
	width: 100%;
}

#portfolio-sidebar table td {
	vertical-align: top;
}

#portfolio-sidebar table td.bottom {
	vertical-align: bottom;
}


#portfolio-image {
	float: right;
	min-height: 489px;
}

/* @group Portfolio (relaxzwembaden) */

#portfolio-text {
	padding-top: 10px;
	border-top: 1px solid #869185;
	font-size: 0.7em;
	line-height: 1.15em;
	margin: 0 10px;
	color: #fff;
	height: 240px;
	overflow: auto;
}

#portfolio-nav {
	padding: 10px 0 10px 10px;
}

.portfolio-nav a {
	text-decoration: none;
	color: #009ab0;
	font-size: 0.9em;

}

.portfolio-nav .active a, 
.portfolio-nav a:hover {
	color: #fff;
	text-decoration: underline;
}

/* @end */

/* @group Projecten */

#project-nav {
	padding: 10px 20px;
	height: 428px;
}

#project-nav li {
	border-bottom: 1px solid #009ab0;
	padding: 8px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}

#project-nav .next,
#project-nav .previous {
	border: 0;
	height: 3px;
	line-height: 3px;
}

#project-nav .next a,
#project-nav .previous a {
	display: block;
	height: 8px;
	width: 8px;
	text-indent: -99999px;
	background-repeat: no-repeat;
	background-position: center;
	margin:  0 auto;
	outline: none;
}

#project-nav .previous a{
	background-image: url(../images/link-previous-vertical.gif);
}
#project-nav .next a{
	background-image: url(../images/link-next-vertical.gif);
}

#project-nav li.last {
	border: none;
}

#project-nav .active a {
	text-decoration: none;
}

/* @end */

/* @group Pagejumper */

#portfolio-pagejumper li {
	float: left;
	padding-right: 5px;
}

#portfolio-pagejumper a {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	outline: none;
}

#portfolio-pagejumper li {
	text-decoration: none;
	display: block;
	text-indent: -9999px;
	width: 5px;
	height: 10px;
	margin-right: 5px;
}

#portfolio-pagejumper .next,
#portfolio-pagejumper .previous 
{
	text-indent: 0;
}

#portfolio-pagejumper .next {
	margin-right: 0;
}

#portfolio-pagejumper .next a,
#portfolio-pagejumper .previous a 
{
	text-indent: 0;
	text-align: center;
	color: #fff;
	font-size: 0.6em;
	line-height: 10px;
	background-color: transparent;
	text-decoration: none;
}

#portfolio-pagejumper ul {
	padding: 20px 0 0 0;
	margin: 0 auto;
}

#portfolio-pagejumper .active {
	background-color: #bcdecc;
}

#porfolio-image-previous,
#porfolio-image-next
{
	position: absolute;
	margin-top: -255px;
	z-index: 99;
	color: #fff;
	display:block;
	width: 30px;
	height: 30px;
	background: url('../images/fancy_nav_left.png');
	text-indent: -999px;
	margin-left: 3px;
}
#porfolio-image-next {
	background: url('../images/fancy_nav_right.png');
	margin-left: 620px;
}

/* @end */

.bottom {
	vertical-align: bottom;
}