{cssfile file="application/modules/home/resources/css/home.css"}
{if $media}
<div id="home">
	<img src="{link href="thumbnail/home/"}{$media->getId()}/{$media->getBasenameFromTitle()}" alt="{$media->getTitle()|att}"/>
</div>
{/if}