
/* -- Media List View -- */

.media-media-list {
	background: url(../images/media-viewport-bg.jpg) repeat-x top left #000;
	background-attachment: fixed;
	position: relative;
}

.media-media-list ul {
}

.media-media-list li {
	float: left;
	margin: 10px 15px;
	width: 150px;
	display: block;
	padding: 2px;
	background-color: #282828;
	position: relative;
}

.media-media-list li .media-item-title {
	font-size: 11px;
	color: #bbb;
	line-height: 25px;
	background-color: #000;
	text-align: center;
}

.media-media-list li .media-item-title strong {
	color: #dedede;
}

/* -- Media List Item's options -- */

.media-media-list .media-item-icon {
	width: 150px;
	height: 150px;
	background: url(../images/loading.gif) no-repeat center center;
	z-index: 89000px;
}

.media-media-list .buttonsBar {
	display: block;
	background: url(../images/media-item-options-bg.png) no-repeat top left;
	width: 150px;
	height: 37px;
	position: absolute;
	bottom: 27px;
	left: 2px;
	z-index: 90000px;
}

.media-media-list .buttonsBar ul {
	padding-left: 10px;
	padding-top: 4px;
}

.media-media-list .buttonsBar li {
	margin: 0px;
	width: 25px;
	background-color: transparent;
}

/* -- Media album field -- */

.fieldMediaAlbum {
	float: left;
	clear: right;
}

.fieldMediaAlbum img {
	vertical-align: middle;
}

#idFieldMedia {
	clear: right;
	overflow: auto;
	display: block;
}

#idFieldMediaList .file-preview {
	float: left;
	white-space: nowrap;
}

/* Set padding on image in order to calculate the div-width correctly. If we put this on .file-preview jQuery doesn't seem
to calculate the div-width correctly */
#idFieldMediaList img {
	padding-right: 10px;
}

#idFieldMediaList {
	overflow:auto;
	width:100%;
	height: 170px;
}

/* Use a container to enable horizontal scrolling */
#idFieldMediaListContainer {
	width: 100%;
	margin-right: 15px;
}

#idFieldMedia #field-albumFilter {
	background-color: #EAEDED;
	border-bottom: 1px solid #D5D9D9;
	margin: 5px 5px 5px 0;
}

/* Row options */
.row-options-tooltip a.media {
	float: left;
	background: url(../images/row-options-media.png) no-repeat top left;
	width: 24px;
	height: 18px;
	text-indent: -40000px;
}

/* fieldMediaItem */
.field-media-item-thumb {
	padding-right:10px;
	width:30px;
	height:30px;
}