
/* Import Reset CSS */
@import "reset.css";

/* Import Master CSS */
@import "master.css";

/* Import Fancybox CSS */
@import "jquery.fancybox-1.3.0.css";

html {
	background-color: #f8fcfa;
}

#wrapper {
	margin: 0 auto;
	width:  902px;
	padding-top: 58px;
}

/* @group Header */

#logo {
	text-indent: -9999px;
	display: block;
	width: 172px;
	height: 98px;
	background: url(../images/relaxzwembaden-logo.jpg) no-repeat;
	border-right: 1px solid #bcdecc;
	float: left;
}

#header {
	height: 98px;
	margin-bottom: 10px;
}

#latest-news {
	padding-left: 10px;
	float: left;
	width:  294px;
	border-right: 1px solid #bcdecc;
	height: 100%;
	font-size: 0.6em;
}

#latest-news a {
	color: #009ab0;
	background: url(../images/listitem-latest-news.jpg) no-repeat 0 3px;
	padding-left: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

#header-legal {
	float: left;
	width:  235px;
	height: 100%;
	padding-left: 10px;
	font-size: 0.65em;
	line-height: 1.3em;
	color: #869185;
}

#nav a {
	color: #009ab0;
	text-decoration: none;
	text-transform: uppercase;
}

#nav {
	height: 100%;
	border-right: 1px solid #bcdecc;
	float: left;
	padding: 0 50px 0 10px;
	width: 113px;
	font-size: 0.8em;
}

#nav li {
	padding-bottom: 8px;
}

#nav .active a, #nav a:hover {
	color: #869185;
}

/* @end */

/* @group Footer */

#footer {
	color: #869185;
	font-size: 0.7em;
	line-height: 1.5em;
}

#footer-credits {
	font-size: 0.9em;
	clear: both;
}

#footer a {
	color: #869185;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer {
	margin-top: 10px;
}

.footer-pff {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	padding: 0 10px;
}

#footer hr {
	clear: both;
	float: left;
	width:  100%;
	height: 1px;
	border: 0;
	border-top: 1px solid #869185;
	margin: 10px 0;
}

/* @end */
.content-wrapper {
	border: 2px solid #009ab0;
	background-color: #334a2a;
	padding:  3px;
}