#footer hr {
	margin-top: 3px;
}

#footer-credits {
	
	overflow: hidden;
	
}

#footer hr {
	padding: 0;
	margin: 0;
}

* html #portfolio-pagejumper li {
	margin: 0;
	line-height: 5px;
}

* html #portfolio-pagejumper li.active {
	margin-right: 5px;
}