body {
	font-size:100%;
	line-height:1.125em;
}

#wrapper {
	font-size: 0.875em;
}

body, textarea {
	font-family: Verdana, "Lucida Grande", Lucida, sans-serif;
}

strong, .bold {
	font-weight: bold;
}

em, .italic {
	font-style: italic;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}