.module {
	padding: 10px;
}
.module h2 {
	font-size: 1.2em;
	padding: 40px 0 0 0;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	font-weight:bold;
}

.module h2.first {
	padding-top: 20px;
}

.module h3 {
	font-weight:bold;
	padding: 30px 0 0 0;
	text-transform: uppercase;
}

.acl-overview h2 span {
	color: #999;
}

.acl-overview td {
	padding: 5px;
}

.acl-overview .roles {
	font-weight:bold;
}

.acl-overview td {
	padding-right: 20px;
}

.acl-overview .row1 {
	background-color: #eff2f2;
}

.acl-overview .row1 td{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dadddd;
}

.acl-overview .row2 {
	background-color: #e4eaea;
}

.acl-overview .row2 td{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d0d6d6;
}