#contact,
#contact-message
{
	font-size: 0.8em;
	padding: 20px 0;
	color: #fff;
}

#contact-wrapper {
	background: url(../images/bg-contact.gif) repeat-y;
	overflow: hidden;
}

/* @group Contact form */

#contact-form p {
	font-size: 0.8em;
	color: #fff;
}

.contact-column {
	width: 246px;
	padding: 0 10px;
	float: left;
}

#contact-column-form {
	width: 330px;
}

.field-row {
	padding-bottom: 15px;
}

#contact .field-row-buttons input {
	width: auto;
}

#contact-form label {
	color: #fff;
}

.error-message {
	color: #ff0000;
	float: left;
}

/* @end */

/* @group Info field */

#container-info > label {
	padding-bottom: 5px;
	display: block;
}

#container-info .field-container {
	padding-left: 30px;
}

#container-info .field-container label {
	padding-left: 5px;
}

#contact #container-info label {
	float: none;
	width: auto	;
}

#contact #container-info .field-container {
	float: none;
}

#contact #container-info input {
	width: auto;
}

/* @end */

#contact label {
	float: left;
	width: 70px;
}

#contact .field-container {
	float: left;
	padding-left: 10px;
	width: 250px;
}

#contact input {
	width: 215px;
}

/* @group Comments field */

#comments {
	height: 30px;
	width: 300px;
}

#container-comments .field-container {
	clear: both;
	float: none;
	padding-left: 0;
}


/* @end */

.field-address-container {
	float: left;
	padding: 0 5px 5px 0;
}

input#address_street {
	width: 160px;
}

input#address_streetNumber {
	width: 40px !important;
}

input#address_postalCode {
	width: 60px !important;
}
input#address_city {
	width: 140px !important;
}
input.hint {
	color: #ccc;
}

/* @group Info column */

#contact-info-column {
	text-align: center;
	width: 280px;
}

.contact-hours {
	padding-top: 30px;
}

.contact-info {
	padding-top: 90px;
}

.contact-info p {
	padding-top: 30px;
}

#contact-info-column a {
	color: #fff;
	text-decoration: none;
}

#contact-info-column a:hover {
	text-decoration: underline;
}
/* @end */

/* @group Route column */

#contact-route-column {
	width: 220px;
	padding-top: 30px;
	padding-left: 11px;
}

#contact-route-column a {
	color: #fff;
	text-decoration: none;
}

#contact-route-column a:hover {
	text-decoration: underline;
}

/* @end */

/* @group Message page (shown after form has been submitted) */

#contact-message {
	padding: 20px;
}

#contact-message a {
	color: #fff;
}

/* @end */