
/* Field decorations */

.field-row {
	padding: 18px 20px;
	border-bottom: 1px solid #d7d5d6;
}

.field-row-buttons {
	padding: 20px 15px 20px 145px;
}

.field-row label {
	float: left;
	width: 130px;
}

.field-container {
	margin-left: 130px;
}

.error-message {
	padding: 5px 10px 15px 10px;
	background: url(../images/field-error-bg.gif) no-repeat bottom left;
}

/* Input controls */

.field-text, .field-password {
	background: url(../images/field-bg.gif) repeat-x top center #fff;
	padding: 6px 0px;
	border-top: 1px solid #646464;
	border-right: 1px solid #8c8c8c;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #8c8c8c;
	color: #444444;
	font-family: Arial;
	font-size: 13px;
}

.field-multiline {
	overflow: auto;
}